@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
    background: #222;
}
::-webkit-scrollbar-thumb{
    background: beige;
    box-shadow: inset 0 0 2px #222;
    border-radius: 5px;

}
*, *::after, *::before{
    box-sizing: inherit;
}
.left{
    transform: translateX(-100%);
}
.right{
    transform: translateX(100%);
}
.bottom{
    transform: translateY(100%);
}
.normal{
    transform: translateX(0);
    transform: translateY(0);
}
.anim{
    transition: .7s;
}
.hide{
    animation: hide .5s ease forwards;
    display: flex !important;
}
@keyframes hide {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.show{
    animation: show .5s ease forwards;
    display: flex !important;
}
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.loader{
    display: flex;
    background: #141414;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1000000;
    align-items: center;
    pointer-events: none;
    user-select: none;
    justify-content: center;
    img{
        width: 100px;
    }
}
.line{
    width: 100%;
    text-align: center;
    span{
        display: inline-block;
        width: 50px;
        height: 5px;
        background: #14AE5C;
        border-radius: 10px;
    }
}
.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000090;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    &-close{
        border: none;
        background: transparent;
        font-size: 3rem;
        position: absolute;
        top: 30px;
        right: 50px;
        padding: 0;
        margin: 0;
        color: #fff;
    }
    img{
        max-width: 90%;
        min-width: 50%;
        max-height: 90%;
        display: inline-block;
        object-fit: contain;
    }
}
.header{
    .nav{
        background: #222;
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        position: relative;
        &::after{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            background: #222;
            width: 100%;
            height: 20px;
            transform: translateY(50%);
            border-radius: 50%;
        }
        &-brand{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            h3{
                margin: 0 0 0 10px;
            }
            img{
                pointer-events: none;
                width: 35px;
            }
        }
    }
    &-wrap{
        padding: 50px;
        position: relative;
        &__title{
            position: absolute;
            top: 170px;
            left: 100px;
            width: 350px;
        }
        &__images{
            font-size: 0;
            img{
                padding: 5px;
                width: 100%;
                height: 280px;
                object-fit: cover;
            }
            &-wrap1{
                display: grid;
                grid-template-columns: repeat(3, 25%);
                align-items: end;
                justify-content: end;
                span:nth-child(2){
                    img{
                        height: 560px;
                    }
                }
            }
            &-wrap2{
                display: grid;
                grid-template-columns: 25% 25% 50%;
                align-items: end;
                justify-content: end;
            }
        }
    }
}
main{
    .gallery{
        padding: 50px;
        padding-top: 0;
        h2{
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 3px;
        }
        &-wrap{
            display: grid;
            grid-template-columns: repeat(4, 25%);
            span{
                display: inline-block;
                width: 100%;
                cursor: pointer;
                height: 300px;
                overflow: hidden;
                padding: 3px;
                img{
                    transition: .3s ease .3s;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
.footer{
    position: relative;
    margin-top: 60px;
    width: 100%;
    background: #222;
    color: #fff;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0;
    &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 50px;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        background: #222;
        transform: translateY(-50%);
    }
    &-brand{
        display: flex;
        justify-content: center;
        width: 100%;
        img{
            width: 50px;
            pointer-events: none;
        }
    }
    &-menu{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        justify-content: center;
        font-size: 2rem;
        li{
            padding: 20px;
            &:nth-child(1) a:hover{
                color: transparent;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                background-clip: text;
                -webkit-background-clip: text;
            }
            &:nth-child(2) a:hover{
                color: #3A5894;
            }
            &:nth-child(3) a:hover{
                color: #258DC3;
            }
            a{
                text-decoration: none;
                color: #fff;
                transition: .2s;
            }
        }
    }
    p{
        text-align: center;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        color: #ccc;
        font-size: 15px;
        a{
            color: dodgerblue;
            text-decoration: none;
        }
    }
}
@media (max-width: 1150px){
    .header-wrap__images-wrap1 span img, .header-wrap__images img {
        height: 200px;
    }
    .header-wrap__images-wrap1 span:nth-child(2) img {
        height: 400px;
    }
    .header-wrap__title{
        top: 100px;
    }
    main .gallery-wrap span{
        height: 250px;
    }
    
}
@media (max-width: 768.6px){
    .header{
        .nav{
            padding: 20px;
        }
        &-wrap{
            padding: 20px;
        }
    }
    .header-wrap__images-wrap1 span img, .header-wrap__images img{
        height: 150px;
        padding: 2px;
    }
    .header-wrap__images-wrap1 span:nth-child(2) img {
        height: 300px;
    }
    .header-wrap__title{
        top: 50px;
        left: 50px;
        h1{
            font-size: 1.7rem;
        }
        p{
            font-size: 1rem;
        }
    }
    main{
        .gallery{
            padding: 20px; 
            &-wrap span{
                height: 150px;
            }
        }
    }
}
@media (max-width: 668.6px){
    .header-wrap__images{
        margin-top: 100px;
    }
    .header-wrap__images-wrap1 span img, .header-wrap__images img{
        height: 130px;
    }
    .header-wrap__images-wrap1 span:nth-child(2) img {
        height: 260px;
    }
    .loader{
        img{
            width: 60%;
        }
    }
}
@media (max-width: 425.6px){
    .header{
        .nav{
            padding: 20px;
        }
        &-wrap{
            padding: 5px;
        }
    }
    .header-wrap__images{
        margin-top: 100px;
    }
    .header-wrap__images-wrap1 span img, .header-wrap__images img{
        height: 90px;
    }
    .header-wrap__images-wrap1 span:nth-child(2) img {
        height: 180px;
    }
    .header-wrap__title{
        top: 50px;
        left: 0;
        padding-left: 20px;
        width: 100%;
        h1{
            font-size: 1.2rem;
        }
        p{
            word-wrap: break-word;
            width: 50%;
            font-size: 13px;
        }
    }
    main{
        .gallery{
            padding: 5px; 
            &-wrap {
                grid-template-columns: repeat(3, 33.33%);
                span{
                    height: 140px;
                    padding: 1px;
                }
            }
        }
    }
    .modal-close{
        top: 10px;
        right: 20px;
    }
}
@media (max-width: 320.6px){
    main{
        .gallery{
            &-wrap {
                span{
                    height: 120px;
                    padding: 1px;
                }
            }
        }
    }
}